CANVAS_ICS_URL=https://canvas.example.edu/feeds/calendars/user_PRIVATE_TOKEN.ics
NOTION_TOKEN=secret_REPLACE_ME
NOTION_ASSIGNMENTS_DATA_SOURCE_ID=00000000-0000-0000-0000-000000000000
NOTION_COURSES_DATA_SOURCE_ID=00000000-0000-0000-0000-000000000000
NOTION_SYNC_LOG_DATA_SOURCE_ID=00000000-0000-0000-0000-000000000000
NOTION_TIMEZONE=America/Los_Angeles
CANVAS_MISSING_EVIDENCE_MINIMUM_HOURS=6
